<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1091163577677-p8puvod41m1v4ns6quq91bqicro2eol1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1091163577677-p8puvod41m1v4ns6quq91bqicro2eol1</string>
	<key>API_KEY</key>
	<string>AIzaSyBfi6eq_ZQO5IkwReuuLfiU1YlA403Ujmo</string>
	<key>GCM_SENDER_ID</key>
	<string>1091163577677</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.firebaseReactNavigationExample</string>
	<key>PROJECT_ID</key>
	<string>serge-mikhailov</string>
	<key>STORAGE_BUCKET</key>
	<string>serge-mikhailov.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1091163577677:ios:0642e4aa23265d7a</string>
	<key>DATABASE_URL</key>
	<string>https://serge-mikhailov.firebaseio.com</string>
</dict>
</plist>